.records-title {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 1.5rem;
}

@media screen 
  and (orientation: landscape)
  and (min-width: 760px) {
  .record-selection-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
