.landing-container {
  background-color: #71DDE9;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Typewriter */

#typewriter {
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  white-space: pre-wrap;
  padding: 1.5rem;
  min-height: 16rem;
}

/* Cursor */

.cursor {
  margin: 0;
  font-size: 2rem;
}

.cursor::after {
  content: '';
  height: 2rem;
  width: 0.1rem;
  display: inline-block;
  margin-left: 3px;
  background-color: black;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* Headshot */

#landing-headshot {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .landing-container {
    flex-direction: row-reverse;
    justify-content: left;
  }

  #landing-headshot {
    height: 100%;
    width: auto;
  }
}
