.feed-title {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 1.5rem;
}

.feed-preamble {
  padding: 0 1rem;
  margin-top: 0;
}

.feed-content-flex {
  display: flex;
  justify-content: center;
}

.feed-content-wrapper {
  max-width: 64rem;
}

.post-preview {
  padding: 0 1.5rem;
}

.post-preview h3 {
  margin: 0;
}

.post-preview p {
  position: relative;
  left: 1rem;
  margin-top: 0.25rem;
  font-size: 0.75rem;
}
