#nav-wrapper {
  z-index: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #91ed89;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  height: 0%;
  transition: opacity 0.75s, visibility 0.75s, height 0.75s;
  overflow: hidden;
}

#nav-wrapper.open {
  opacity: 1;
  visibility: visible;
  height: 100vh;
}
