.tune-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.tune-play-pause {
  margin-right: 1rem;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 1.2em;

  border-color: transparent transparent transparent #ccc;
  transition: 100ms all ease;
  cursor: pointer;

  // play state
  border-style: solid;
  border-width: 0.6em 0 0.6em 1.2em;

  &.paused {
    border-style: double;
    border-width: 0px 0 0px 1.2em;
  }

  &:hover {
    border-color: transparent transparent transparent #a9a9a9;
  }
}

/* Seeker */

$track-w: 100%;
$track-h: .25em;
$thumb-d: 1.5em;
$track-c: #ccc;
$filll-c: #a9a9a9;

@mixin track($fill: 0) {
  box-sizing: border-box;
  border: none;
  width: $track-w;
  max-width: 100%;
  height: $track-h;
  background: $track-c;

  @if $fill == 1 {
    .js & {
      background: linear-gradient($filll-c, $filll-c)
      0/ var(--sx) 100% no-repeat $track-c;
    }
  }
}

@mixin fill() {
  height: $track-h;
  background: $filll-c;
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  width: 0;
  height: $thumb-d;
}

[type='range'] {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min))/var(--range));
  --sx: calc(.5*#{$thumb-d} + var(--ratio)*(100% - #{$thumb-d}));
  margin: 0;
  padding: 0;
  width: $track-w;
  max-width: 100%;
  height: $thumb-d;
  background: transparent;
  font: 1em/1 arial, sans-serif;

  &::-webkit-slider-runnable-track {
    @include track(1)
  }
  &::-moz-range-track { @include track }
  &::-ms-track { @include track }

  &::-moz-range-progress { @include fill }
  &::-ms-fill-lower { @include fill }

  &::-webkit-slider-thumb {
    margin-top: .5*($track-h - $thumb-d);
    @include thumb
  }
  &::-moz-range-thumb { @include thumb }
  &::-ms-thumb {
    margin-top: 0;
    @include thumb
  }

  &::-ms-tooltip { display: none }
}

.tune-time {
  font-family: monospace;
  font-size: 0.65rem;
  margin-left: 1rem;
  min-width: 6em;
}

.tune-time time {
  display: inline-block;
  width: 2.25em;
}

.tune-time-divider {
  margin: 0 0.15rem 0 0.25rem;
}
