.banner-shell-wrapper {
  height: 100%;
  width: 100%;
}

.banner-shell-content-wrapper {
  overflow: scroll;
}

.shell-title {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 1.5rem;
}

.banner {
  width: 100%;
  margin-bottom: 1.5rem;
}

.banner-shell-content {
  padding: 0 1rem;
}

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  z-index: 3;
}

.header.spacer {
  position: static;
}
