.section-toggler-wrapper {
  margin-bottom: 1rem;
}

.section-toggle {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.section-toggle h2 {
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding-right: 0.5rem;
}

.chevron {
  position: relative;
  top: 0.1rem;
}

.chevron::before {
  content: '';
  height: 0.45rem;
  width: 0.45rem;
  border-style: solid;
  border-width: 0.2rem 0.2rem 0 0;
  display: inline-block;
  position: relative;
  left: 0;
  top: 0.15em;
  transform: rotate(45deg);
  transition: all 75ms linear;
  vertical-align: top;
}

.chevron.open::before {
  transform: rotate(135deg);
}

.section-content {
  overflow: hidden;
}

.section-content > p {
  margin-bottom: 0;
}

.section-content.enter {
  max-height: 0;
  opacity: 0;
}

.section-content.enter-active {
  max-height: 100rem;
  opacity: 1;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 300ms;
  transition-property: max-height, opacity;
}

.section-content.exit {
  max-height: 100rem;
  opacity: 1;
}

.section-content.exit-active {
  max-height: 0;
  opacity: 0;
  transition-timing-function: ease-out;
  transition-duration: 300ms;
  transition-property: max-height, opacity;
}
