html, #root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
